html {
    background-color: #626880;
}

ul.aboutme, h1.Title1, .aboutme, h1.abouttitle, .box, .second {
    color: #cdd6f4;
}

a{
    color: #eba0ac;
}

.left1 {
    color: pink;
}

.right1 {
    color: #cdd6f4;
}

.second, .aboutme, .right1 {
    background-color: #313244;
}
