html {
    font-size: 30px;
    font-family: "Delius", cursive;
    background-color: #241f31;
}

body {

}

.informacao {
    list-style-type: none;
    padding: 0px;
}

            /* Aboutme page */

ul.aboutme {
    float: right;
    padding: 10px 20px 20px 20px;
    border: none;
    width: 1000px;
    color: white;
    margin: 0px;
}

img.aboutme{
    float: inline-start;
}

.aboutme {
    padding: 10px 20px 20px 20px;
    border: 6px solid black;
    width: auto;
    color: white;
    background-color: #3d3846;
}

.madotsuki {
    width:  720px;
    height: 641px;
}

img.madotsuki {
    width: 30%;
    height: auto;
}

#goback1 {
    margin: 30px;
}

            /* Principal Page */

h1.Title1 {
    font-size: 80px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 1px black;
}

h1.abouttitle {
    color: white;
    text-align: center;
}

            /* Flexboxes to align */

.box {
    width: 100%;
    display: flex;
    row-gap: 10px;
    column-gap: 2em;
    border: 2px dotted rgb(96 139 168);
    color: white;
}

.left1 {
    flex-shrink: 1;
    font-size: 20px;
    line-height: 50px;
    color: pink;
    margin: 10px;
}

.second {
    text-align: center;
    flex-shrink: 2;
    font-size: 25px;
    color: white;
    padding: 10px 20px 20px 20px;
    border: 5px solid black;
    background-color: #3d3846;
    text-align: left;
}

.right1 {
    text-align: right;
    flex-shrink: 5;
    color: red;
    margin: 10px;
    font-size: 20px;
    line-height: 50px;
}

p.second{
    text-align: center;
    font-size: 35px;
    border: 0px;
}

img.esqueleto {
    margin: -100px 1600px
}



a{
    color: pink;
}
