html {
    font-size: 30px;
    font-family: "Delius", cursive;
    background-color: #241f31;
}

body {

}

.informacao {
    list-style-type: none;
    padding: 0px;
}

.Principal, .esquerda1, .direita1{
    display: inline-grid;
    grid-auto-columns: minmax(175px, auto);
}

/* Aboutme page */

ul.aboutme {
    padding: 10px 20px 20px 20px;
    border: 6px solid black;
    width: auto;
    color: white;
}

/* Principal Page */

h1.Title1 {
    font-size: 80px;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 1px black;
}

h1.abouttitle {
    color: white;
    text-align: center;
}

p.Principal{
    text-align: center;
    font-size: 35px;
}

div.Principal {
    font-size: 25px;
    color: white;
    width: 75%;
    margin: 0 auto;
    padding: 10px 20px 20px 20px;
    border: 5px solid black;
    background-color: #3d3846;
    text-align: left;
}

a{
    color: pink;
}

ul.esquerda1 {
    font-size: 20px;
    line-height: 50px;
    color: pink;
    float: left;
    margin: 10px;
}

ul.direita1 {
    color: red;
    float: right;
    margin: 10px;
    font-size: 20px;
    line-height: 50px;
}

img.esqueleto {
    display: block;
    margin: -100px 1600px
}
