html {
    font-size: 30px;
    font-family: "Delius", cursive;
}

body {

}

.informacao {
    list-style-type: none;
    padding: 0px;
}

            /* Aboutme page */

ul.aboutme {
    float: right;
    padding: 10px 20px 20px 20px;
    border: none;
    width: 1000px;
    margin: 100px;
}

img.aboutme{
    float: inline-start;
}

.aboutme {
    padding: 10px 20px 20px 20px;
    border: 6px solid black;
    width: auto;
}

img.madotsuki {
    width: 30%;
    height: auto;
    border: 10px solid black;
}

#goback1 {
    line-height: 100px;
    margin: 30px;
}

            /* Principal Page */

h1.Title1 {
    font-size: 80px;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

h1.abouttitle {
    text-align: center;
}

            /* Flexboxes to align */

.box {
    width: 100%;
    display: flex;
    row-gap: 10px;
    column-gap: 2em;
    border: none;
}

.left1 {
    flex-basis: 14%;
    font-size: 20px;
    line-height: 20px;
}

img.Image-common {
    border: 5px solid black;
    margin: 2%;
    width: 60%;
    height: auto;
}

.second {
    text-align: center;
    flex-basis: 1200px;
    font-size: 25px;
    padding: 10px 20px 20px 20px;
    border: 5px solid black;
    text-align: left;
}

.right1 {
    padding: 2px 2px 2px 10px;
    border: 5px solid black;
}

h1.right1 {
    border: 0;
    flex-basis: 15%;
    margin-left: 0px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
}

img.badge-right1 {
    width: 46%;	
    height: auto;
    margin-left: 2px;
}

p.second{
    text-align: center;
    font-size: 35px;
    border: 0px;
}

#GifMoe1 {
    position: absolute;
    right: 25%;
    top: 2%;
    width: 7%;
    height: auto;
}

#VSRG {
    margin: 30px;
}

h1.aboutmetext {
    text-align: left;
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 20px;
}

ul.aboutmetext {
    margin-left: 60px;
}

img.esqueleto {
    margin: -100px 1600px
}
